.column-container {
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  color: white;
}
.t-header {
  height: 100vh;
  background: url('../images/bc-a2.jpg')   no-repeat;
  background-position: center;
  background-size: cover;
  //box-shadow: 2px 2px 14px rgb(46, 46, 46);  

    &__btn-head {
      width: 100%;  
    }

    &__hero {
      width: 100%;
      height: 200px;
      margin-bottom: 120px;
      display: flex;
      justify-content: center;      
      @include medium-up {
        height: 150px;
        padding: 0px; 
      }   
      //background-color: rgba($color: #000000, $alpha: 0.6);

      background: url('../images/bc-a2.jpg') fixed  no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      overflow: hidden;  
      //margin: 15px auto;   
      border-radius: 1px;
      border-bottom: 1px solid rgb(0, 0, 0);  

      &::before {
        width: 100%;   
        height: 250px;

        @include medium-up {
          height: 200px;          
        }
        
        content: "";
        position: absolute;
        top: -25px;        
        bottom: 0;
        right: 0;
        background: inherit;        
        box-shadow: inset 0 0 0 300px rgba(21, 57, 90, 0.4);        
        filter: blur(8px);
      }
    }

    &__hero-content {
      height: 200px;      
      padding: 20px 300px;
      transform: skew(-20deg);
      background: rgba($color: #145b8a, $alpha: 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include medium-up {
        flex-direction: row;
        height: 150px;
      }
      z-index: 3;
    }

    &__hero-h1 {
      color: white;
      padding-right: $gutter * 2;
      font-size: 40px;
      text-transform: uppercase;
    }

    &__col-template {
      margin: 40px 15px 20px 15px;  
      transition: $thetransition2; 
      &:hover {
        transform: scale(1.035);
        cursor: move;
        box-shadow: 1px 3px 12px rgb(47, 47, 47);
        transition: $thetransition2; 
      } 
    }

    &__container {
      margin: 20px;
      width: 350px;
      min-height: 500px;
      background: url('../images/bc-a2.jpg') fixed  no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      overflow: hidden;    
      margin: 15px auto;   
      border-radius: 1px;
      border: 1px solid rgb(0, 0, 0);
      //box-shadow: 0px 0px 4px rgb(37, 37, 37);
      &::before {      
        width: 400px;
        min-height: 550px;
        content: "";
        position: absolute;
        top: -25px;
        //left: -25px;
        bottom: 0;
        right: 0;
        background: inherit;
        //box-shadow: inset 0 0 0 300px rgba(14, 16, 19, 0.5);
        box-shadow: inset 0 0 0 300px rgba(33, 42, 53, 0.4);
        filter: blur(8px);
      }
    }
}
.t-form {
  width: 100%;
  //padding: 15px;  
  position: relative; 
  display: inline-block;
  text-align: center;  
  ul {
    list-style-type: none; 
    min-height: 300px;
  }  
}
  
.card {  
  display: flex;
  flex-grow: 1;
  //padding: 15px;  
  background: rgba($color: #000000, $alpha: 0.5);  
  text-align: center;  
  margin-top: 10px;
  transition: $thetransition;
  &:hover {
    background: rgba($color: #000000, $alpha: 0.7); 
    transition: $thetransition;
    cursor: grab;    
  }
}  

.card-description {
  font-family: $font-montserrat;
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 100%;
  
}

.column-title {
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background: rgba($color: #000000, $alpha: 0.5);
}

.btn-delete {  
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  //align-self: flex-start;
  border: none;
  cursor: pointer;
  background: rgba($color: #1566b1, $alpha: 0.5);
  transition: $thetransition;
  
  &:hover {
    background: rgba($color: #ff0303, $alpha: 0.6);
    transition: $thetransition;
  }  
}

.add-card {
  color: white;
  background: rgba($color: #000000, $alpha: 0.5);  
  cursor: pointer;
  border: 1px solid black;
  padding: 10px;
  transition: $thetransition;
  &:hover {
    background: rgba($color: #000000, $alpha: 0.7);
    transition: $thetransition;
  }  
  
}